<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>나홀로 쇼핑몰</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function () {
            $("#orders-box").html("");
            showOrders();
        });

        $.ajax({
            type: "GET", url: "https://api.manana.kr/exchange/rate.json", data: {},
            success: function (response) {
                let exRate = response[1]["rate"];
                $('#exchange-rate').append(exRate);
            },
        });

        function isCellPhone(number) {
            // var regExp = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;
            let regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/;
            return regExp.test(number);
        }

        function order() {
            let name = $('#order-name').val();
            let count = $('#order-count').val();
            let address = $('#order-address').val();
            let phone = $('#order-phone').val();
            if (name == '') {
                alert('이름을 입력해주세요');
                $("#order-name").focus()
                return
            } else if (count == 0) {
                alert('수량을 선택해주세요');
                $("#order-count").focus()
                return
            } else if (address == '') {
                alert('주소를 입력해주세요');
                $("#order-address").focus()
                return
            } else if (phone == '') {
                alert('휴대폰 번호를 입력해주세요');
                $("#order-phone").focus()
                return
            } else if (!isCellPhone(phone)) {
                alert('휴대폰 번호 형식이 틀립니다.\n010-0000-0000으로 입력해주세요');
                $("#order-phone").focus()
                return
            }

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give: name, count_give: count, address_give: address, phone_give: phone},
                success: function (response) {
                    if (response["result"] == "success") {
                        alert('주문이 완료되었습니다.');
                        window.location.reload();
                    } else {
                        alert("서버 오류!");
                    }
                }
            })
        }

        function showOrders() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let orders = response["orders"];
                    for (let i = 0; i < orders.length; i++) {
                        makeOrderRow(orders[i]["name"], orders[i]["count"], orders[i]["address"], orders[i]["phone"])
                    }
                }
            })
        }

        function makeOrderRow(name, count, address, phone) {
            let tempHtml = `<tr>\
                                <td>${name}</td>
                                <td>${count}</td>
                                <td>${address}</td>
                                <td>${phone}</td>
                              </tr>`;

            $("#orders-box").append(tempHtml);
        }
    </script>
    <style type="text/css">
        * {
            font-family: 'Nanum Gothic', sans-serif;
        }

        .font-bold {
            font-weight: 800;
        }

        .font-regular {
            font-weight: 700;
        }

        .font-blue {
            color: blue;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

        .img {
            background-image: url('http://thumbnail.10x10.co.kr/webimage/image/basic600/180/B001800049.jpg?cmd=thumb&w=500&h=500&fit=true&ws=false');
            background-size: cover;
            background-position: center;
            width: 400px;
            height: 400px;
            margin: auto;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        h1, h5 {
            display: inline;
        }

        .order {
            text-align: center;
        }

        .orders {
            margin-top: 100px;
        }
    </style>

</head>
<body>
<div class="wrap">
    <div class="img"></div>
    <div class="info">
        <h1 class="font-bold">3D 힐링 달 무드등</h1>
        <h5 class="font-regular">가격: 30,000원 / 개</h5>
        <p>보름달이 방 안을 환하게 밝혀줄 거예요!</p>
        <div id="exchange-rate" class="font-blue font-regular">달러-원 환율:</div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text font-bold">주문자 성함</span>
            </div>
            <input type="text" class="form-control" id="order-name">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text font-bold">수량</label>
            </div>
            <select class="custom-select" id="order-count">
                <option selected value=""> -- 수량을 선택하세요 --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text font-bold">주소</span>
            </div>
            <input type="text" class="form-control" id="order-address">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text font-bold">전화번호</span>
            </div>
            <input type="text" class="form-control" id="order-phone">
        </div>
        <div class="order">
            <button onclick="order()" type="button" class="btn btn-primary">주문하기</button>
        </div>
    </div>
    <div class="orders">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">수량</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody id="orders-box">
            <tr>
                <td>박르탄</td>
                <td>10000</td>
                <td>르탄시 코딩구 열심동</td>
                <td>010-1234-5678</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>